@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: Montserrat;
}
p{
  font-family: Dancing Script;
  font-weight:bold; 
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}
.columns{
  float: left;
  width: 50%;
  padding: 50px;

}
.ehleh{
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
}
#timer{
  font-size: 20px;
  font-family: Montserrat;
}
#strt{
  font-family: Montserrat;
  font-weight: bold;
  height:50px; 
  width:150px;
  background-color: #FFCCE4;
  border: solid 2px #CBB9C2;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  cursor: pointer;
}
#container {

  margin: 0px auto;
}
#container:after{
  content: "";
  display: table;
  clear: both;
}
#board {
  height: 350px;
  width: 90%;
  border: 5px solid #FF3C9E;
  background-color: #FFE5F2;
  padding: 15px;
  margin-top: 5px;
}

.row {
  height: 18%;
  display: flex;
  text-align:center;
  flex-direction:row;
  padding: 3px;
}

.letter {
  width: 20%;
  border-radius: 1px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #CBB9C2 ;
  flex:1 1 auto;
  margin:5px;
}

.letter.selected {
   background-color: #ACCEEC;
}

.letter span {
   font-weight: bold;
   display: block;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

#wordsubmit {

    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
#a{
  padding: 7px 40px 7px 40px;
}

button {
  font-family: Montserrat;
  font-weight: bold;
  background-color: #FFCCE4;
  border: solid 2px #CBB9C2;
  padding: 7px 20px 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  cursor: pointer;
}
#sore{
  display: none;
}
#scoretable {
  width: 100%;
    align-self: left;
    border: 5px solid #FF3C9E;
    border-collapse: collapse;
    text-align: left;
}

#scoretable td, #scoretable th {
    border: 5px solid #FF3C9E;
    background-color: white;
    padding: 5px;
}

#score-table tr#footer td {
    background-color: #FFCCE4;
}

.eword{
  font-size: 15px;
  font-family: Montserrat;
}
#sbutton{
  display: none;
}